* {box-sizing: border-box;}

body{
font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0 76px 1px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

/* Header */

.header__container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo__bold{
    font-weight: bold;
    font-size: 20px;
    color: #2B292D;
}

.logo__regular{
    font-weight: normal;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
}

.check {
    width: 30px;
    height: 2px;
    background: black;
    transition: 250ms linear;
}

.check:not(:last-of-type) {
    margin-bottom: 6px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__checkbox, .check-wrapper {
    display: none;
} 

.menu-all{
    display: flex;
    align-items: center;
}

.header__li{
    display: inline-block;
}

.header__li:not(:last-child){
    margin-right: 20px;
}

.header__li > a{
    color: #2B292D;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.header__li > a:hover{
    font-weight: bold;
}

.menu-all > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: .5s;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Section header */
.header-section {
    background-color: #F3C6BD;
    padding: 30px 0;
}

.header-wrapper {
    display: flex;
    position: relative;
}

.header-wrapper > div:first-of-type {
    max-width: 786px;
    z-index: 1;
}

.header-wrapper > div:last-of-type {
    position: absolute;
    top: 0;
    right: -107px;
    z-index: 0;
}

.main__title{
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 34px;
}

.main__text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;

    max-width: 456px;
    margin-bottom: 58px;
}

.button-white{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    background: white;
}

.button-white:hover{
    color: white;
    background: #3040C4;
    transition: .5s;
}

/* About */
.bg-grey {
    background-color: #F4F5F7;
}

.about__container{
    display: flex;
}

.about__container-1{
    margin: 77px 29px 76px 130px;
}

.about__container-2{
    margin: 77px 131px auto 76px;
}

.about{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

/* Logos */
.logos-container {
    padding-top: 30px;
    padding-bottom: 51px;
    display: flex;
    justify-content: space-around;
}


/* Features */
.features__section {
    position: relative;
}

.features__container{
    display: flex;
    margin-bottom: 200px;
    position: relative;
}

.features__text{
    max-width: 461px;
}

.features__p{
    color: #009B4D;
}

.features__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    padding-bottom: 30px;
}

.features_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
}

.features_item{
    position: absolute;
    left: 0;
    top: 250px;
}

.features__ouch {
    width: 100%;
}

.features__text-2{
    max-width: 700px;
}

.link_features{
    display: flex;
}

.features__icon-1{
    padding: 0 15px 11px;
}

.link_f{
    font-weight: 700;
    text-decoration: none;
    color: #3142C6;
    font-size: 22px;
    line-height: 26px;
}

.after__link{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-top: 8px;
    max-width: 459px;

    position: relative;
}

.after__link::after{
    position: absolute;
    content: " ";
    background: #3142C6;
    width: 100%;
    height: 4px;
    bottom: -10px;
    left: 0;
}

.container__icon{
    display: flex;
    padding: 30px 15px 11px;
}

.icon__bold{
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
    font-weight: 700;
    margin-left: 15px;
}

.screen_container{
    position: relative;
}

.features_screen{
    position: absolute;
    right: 0;
    top: -730px;
}

/* Team inbox */
.bg-orange {
    background-color: rgb(254, 249, 244);
    padding: 115px;
}

.team_inbox-container {
    display: flex;
}

.team__img {
    margin: 130px 120px 130px 60px;
}

.team-text__mini {
    color: #F1592B;
    margin-top: 115px;
}

.team__comment-container {
    position: relative;
    margin-top: 44px;
    max-width: 519px;
    background-color: #fff;
    padding: 30px 30px 24px;
}

.team__comment-line {
    position: absolute;
    content: " ";
    background: #0185D0;
    background-blend-mode: overlay, normal;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

.team__comment-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.avatar-container {
    display: flex;
    padding: 26px 0;
}

.avatar__photo {
    margin-right: 11px;
}

.comment__name {
    font-size: 16px;
    line-height: 22px;
}

/* Communicate */
.communicate {
    padding: 100px 128px;
}

.communicate-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text__mini {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.text__mini-blue {
    color: #0189D1;
}

.title__inner {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
    color: #2B292D;

    max-width: 462px;
}

.text__inner {
    max-width: 461px;

    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 39px;
}

/* Info */
.info {
    padding: 40px 130px 100px;
}

.info__flex {
    display: flex;
    justify-content: space-between;
}

.info__p {
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 15px;

    max-width: 360px;
}

.info__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;

    color: #3142C6;
}

/* Audience */
.bg-blue {
    background-color: rgb(237,248,251);
}

.text_audience{
    text-align: center;
    padding-top: 108px;
}

.title_audience{
    text-align: center;
    margin: 30px auto;
}

.text_audience-2{
    text-align: center;
    margin: 34px auto;
}

.button__audience{
    text-align: center;
    margin: 0 auto;
}

.item__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    margin-top: 111px;
}

.item{
    background: white;
    padding: 60px 10px;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
}

.item:hover{
    background: #3040C4;
    transition: .5s;
}

.text_item{
    padding: 22px 25px; 
}

/* Carousel */
.carousel-section {
    position: relative;
}

.carousel {
    text-align: center;
}

.carousel-title {
    font-weight: 700;
    color: #3142C6;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 28px;
}

.carousel-text {
    max-width: 750px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin: 0 auto;
    margin-bottom: 34px;
}

.carousel__name {
    line-height: 24px;
}

.carousel__name:last-of-type {
    padding-bottom: 38px;
}

.carousel_item{
    position: absolute;
    right: 0;
    top: 110px;
}

.carousel-line {
    position: absolute;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 100%;
    height: 1px;
    bottom: -74px;
}

.slick-dots li button:before {
    font-size: 8px;
    opacity: .2;
    color: #2B292D;
}

.slick-dots li.slick-active button:before {
    font-size: 8px;
    opacity: 1;
    color: #3142C5;
}


/* About */
.title__about {
    margin: 0 auto;
    text-align: center;
    padding-top: 106px;
    margin-bottom: 20px;
}

.text__about {
    margin: 0 auto;
    text-align: center;
    max-width: 555px;
    margin-bottom: 28px;
}

.button__about-container {
    text-align: center;
}

.button__about {
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    margin-bottom: 110px;
}

.about__item-container {
    max-width: 750px;
    margin: 0 auto;
}

.about__items > div {
    display: flex;
    justify-content: space-between;
}

.about__items {
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

.about__items:last-of-type {
    margin-bottom: 90px;
}

.about__items > p {
    display: none;
    margin-top: 20px;
}

.about__position {
    margin-right: 130px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 0 26px 25px;
}

.mini-about__position {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.6;
    padding: 28px 33px 0 0;
}

.about__icon {
    color: #2C3241;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding: 22px 34px 0 0;
}

.active {
    transform: rotate(90deg);
    transition: .2s linear;
    color: #FFFFFF;
    opacity: 1;
    padding: 50px 0 0 0;
}

.toggleBg {
    color: #fff;
    background-color: #3141C5;
}

.toggleText {
    opacity: 1;
    color: #FFFFFF;
}



/* Gallery */

.section__gallery {
    padding: 0 170px 90px;
}

.container_gallery{
    margin: 0 auto;
}

.title_gallery{
    margin: 0 auto;
    text-align: center;
}

.p_gallery{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 97px;
}

.gallery__item {
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.gallery__item > img {
    width: 100%;
    height: 100%;
}

.gallery__item > img:nth-child(1) {
    grid-area: one;
}

.gallery__item > img:nth-child(2) {
    grid-area: two;
}

.gallery__item > img:nth-child(3) {
    grid-area: three;
}

.gallery__item > img:nth-child(4) {
    grid-area: four;
}

.gallery__item > img:nth-child(5) {
    grid-area: five;
}

.gallery__item > img:nth-child(6) {
    grid-area: six;
}

.gallery__item > img:nth-child(7) {
    grid-area: seven;
}

/* Trial */
.trial_section {
    padding: 73px 0;
}

.free-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.free-text {
    max-width: 555px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
}

.free-input {
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    /* чтобы элемент не увеличивался в ширину */
    border-radius: 2px;
    font-size: 18px;
}

.free-input:focus {
    outline: none;
}

.free-input::placeholder {
    font-size: 18px;
    color: #2B292D;
}

.free-mini {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.free-mini > span {
    color: #3142C6;
    font-weight: normal;
    text-decoration: underline;
}

.animation-img {
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: linear;
}

/* Footer */
.footer__logo {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo__img{
    display: flex;
    align-items: center;
}

.footer__text-regular {
    max-width: 460px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    padding: 26px 126px 25px 0;
}

.footer__container-text {
    margin-right: 82px;
}

.footer__text-bold {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.footer__li > a {
    display: block;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer__flex {
    display: flex;
    margin-top: 134px;
    position: relative;
    margin-bottom: 47px;
}

.footer__line-container {
    position: relative;
}

.footer__line {
    position: absolute;
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 100%;
    height: 1px;
    top: -90px;
}

.footer-end__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 52px;
}

.after__line-ul {
    display: flex;
}

.after__line-li > a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 18px;
}

.footer__icon {
    margin-right: 20px;
}



@keyframes img {
    0% {
        top: 0;
    }
    25% {
        top: -25px;
    }
    50% {
        top: -50px;
    }
    75% {
        top: -25px;
    }
    100% {
        top: 0;
    }
}

@media (max-width: 1350px) {
    .container {
        max-width: 1150px;
    }

    .header-wrapper > div:last-of-type {
    right: -13px;
    }

    .features_item {
        top: 337px;
    }

    .features__ouch {
        height: 78px;
    }
}

@media  (max-width: 1200px) {
    .container {
        max-width: 1040px;
    }

    .header {
        padding: 15px 0;
    }

    .header-bg__img {
        height: 390px;
    }

    .logos-container {
        display: grid;
        grid-template-areas:  
        "one two three"
        "four five six";
    }

    .logo{
        padding-left: 130px;
    }

    .logo_img {
        margin-bottom: 15px;
    }

    .features__text {
        max-width: 400px;
    }

    .features__text-2{
        max-width: 500px;
    }

    .features__title {
        font-size: 46px;
    }

    .after__link {
        margin-left: 17px;
        max-width: 350px;
    }

    .after__link::after {
        width: 300px;
    }

    .bg-orange {
        padding: 0;
    }

    .features_screen {
        right: 0;
    }

    .communicate {
        padding: 80px 0;
    }

    .info {
        padding: 0;
        margin: 25px auto;
    }

    .info__p {
        max-width: 320px;
    }

    .button__audience{
        margin: 0 auto;
    }

    .gallery__item {
        gap: 30px;
    }
    
    .features_item {
        top: 376px;
    }
}

@media (max-width: 1090px) {
    .header {
        background-color: #FFFFFF;
    }

    .menu-all {
        display: none;
    }

    .header__checkbox, .check-wrapper {
        display: block;
    }

    .header__menu {
        position: relative;
    }

    .check-wrapper {
        z-index: 2;
    }

    .header__checkbox {
        position: absolute;
        z-index: 3;
        display: block;
        width: 30px;
        height: 30px;
        opacity: 0;
    }

    .header__checkbox:checked ~ .check-wrapper>.check:first-of-type {
        transform: rotate(45deg) translate(3px, 5px);
    }

    .header__checkbox:checked ~ .check-wrapper>.check:last-of-type {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .header__checkbox:checked ~ .check-wrapper>.check:nth-child(2) {
        opacity: 0;
    }

    .header__checkbox:checked ~ .menu-all {
        display: block;
        position: fixed;
        background: #F3C6BD;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .menu-all {
        text-align: center;
    }

    .menu-all > div{
        margin-left: 0;
    }

    .header__ul {
        margin-top: 10%;
    }

    .header__li {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-wrapper {
        display: block;
        position: static;
    }

    .header-wrapper > div:last-of-type {
        position: static;
    }

    .header-wrapper > div:last-of-type img {
        width: 100%;
    }

    .button__container {
        padding: 20px 0;
        text-align: center;
        margin-top: 58px;
    }

    .container {
        max-width: 750px;
    }

    .main__title {
        font-size: 60px;
        text-align: center;
    }

    .main__text {
        font-size: 19px;
        text-align: center;
        margin: 0 auto;
    }

    .about__container-1 .about__container-2 {
        margin: 50px 20px 60px 90px;
    }

    .about {
        font-size: 19px;
        line-height: 25px;
    }

    .logo {
        padding-left: 80px;
    }

    .logo:not(:nth-child(1)) {
        padding-left: 80px;
    }

    .features__text{
        margin: auto;
        max-width: 800px;
    }

    .features__text-2{
        max-width: 800px;
        margin-left: 0;
    }

    .features_screen {
        display: none;
    }

    .bg-orange {
        padding: 115px 0 40px;
        text-align: center;
    }

    .team__img {
        margin: 0;
    }

    .team-text__mini {
        margin-top: 0;
    }

    .team_inbox-container {
        display: block;
        margin: 0 auto;
    }

    .title__inner {
        font-size: 40px;
        max-width: 750px;
    }

    .text__inner {
        font-size: 19px;
        max-width: 750px;
    }

    .team__comment-container {
        max-width: 750px;
    }

    .communicate-flex {
        flex-direction: column;
        text-align: center;
    }

    .communicate-flex > div:first-of-type {
        margin-bottom: 30px;
    }

    .info__flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    .info__flex > div:not(:first-of-type) {
        margin-bottom: 30px;
    }

    .text_audience {
        margin: 0 auto;
    }

    .p_gallery {
        margin-bottom: 50px;
    }

    .gallery__item {
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
        gap: 20px;
    }

    .gallery__item > img:nth-child(7) {
        grid-area: seven;
        display: none;
    }

    .item {
        padding: 30px 15px;
    }

    .logo__bold {
        font-size: 18px;
    }

    .logo__regular {
        font-size: 15px;
    }

    .footer__text-bold {
        font-size: 19px;
    }

    .footer__li > a {
        font-size: 15px;
    }

    .footer__text-regular {
        font-size: 16px;
    }

    .trial-form {
        text-align: center;
    }

    .free-input {
        width: 100%;
        text-align: center;
    }

    .trial-form > .button {
        width: 100%;
    }

    .carousel_item {
        position: initial;
        text-align: center;
    }

    .carousel-line {
        bottom: 4px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }

    .main__title {
        font-size: 40px;
    }

    .header-bg__img {
        height: 100%;
    }

    .about__container {
        margin-left: 0;
    }

    .about__container-1 {
        margin: 20px 30px 10px 0;
    }
    
    .about__container-2 {
        margin: 20px 20px 10px 6px;
    }

    .logo {
        padding: 0;
    }

    .logo:not(:nth-child(1)) {
        padding: 0;
    }

    .logo_img {
        margin: 20px 25px;
    }

    .text_audience {
        margin-right: 0;
        padding: 40px 170px;
    }

    .button__audience {
        margin-left: 0;
    }

    .title_gallery {
        margin-top: 50px;
    }

    .item__container {
        grid-template-columns: repeat(2, 2fr);
    }

    .animation-img {
        margin-right: 15px;
    }

    .carousel-title {
        font-size: 22px;
    }

    .carousel-text {
        font-size: 20px;
        line-height: 30px;
    }

    .about__position {
        padding: 15px 0 15px 14px;
        margin-right: 50px;
    }

    .mini-about__position {
        padding: 17px 33px 0 0;
    }

    .trial-form {
        text-align: center;
    }

    .free-title {
        font-size: 38px;
    }

    .free-text {
        font-size: 20px;
    }

    .footer__flex {
        margin-top: 50px;
    }

    .footer__text-regular {
        padding: 20px 50px 30px 0;
    }

    .footer__container-text {
        margin-right: 35px;
    }

    .after__line-li > a {
        font-size: 10px;
    }

    .free-input {
        width: 100%;
    }

    .trial-form {
        text-align: center;
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: 430px;
    }

    .features_item {
        top: 300px;
    }

    .features__ouch {
        height: 70px;
    }

    .button__container {
        margin: 0 auto;
    }

    .logo_img {
        margin-left: 0;
    }

    .team__img {
        margin-left: 0;
    }

    .communicate {
        padding: 50px 0;
    }

    .text_audience {
        padding: 30px 120px;
    }

    .title__inner {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .communicate img {
        width: 100%;
    }

    .info__p {
        max-width: 100%;
    }

    .p_gallery {
        margin-bottom: 20px;
    }

    .logos-container {
        margin-left: 5px;
    }

    .gallery__item {
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
    }

    .gallery__item > img:nth-child(7) {
        display: grid;
    }

    .free-flex {
        display: inline;
    }

    .animation-img {
        display: block;
        margin: 0 auto;
    }

    .trial__text-container {
        text-align: center;
    }

    .about__position {
        font-size: 16px;
        margin-right: 18px;
    }

    .mini-about__position {
        font-size: 14px;
        padding: 15px 6px 0 0;
    }

    .about__icon {
        padding: 14px 10px 0 0;
    }

    .footer__li > a {
        font-size: 13px;
    }

    .footer__text-regular {
        font-size: 13px;
    }

    .footer__text-bold {
        font-size: 17px;
    }

    .logo__bold {
        font-size: 16px;
    }

    .logo__regular {
        font-size: 10px;
    }

    .footer__flex {
        display: block;
        text-align: center;
    }

    .footer__container-text {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 310px;
        margin: 0 auto;
    }

    .main__title {
        line-height: 47px;
        margin-bottom: 30px;
    }

    .main__text {
        line-height: 25px;
    }

    .bg-grey {
        display: flex;
    }

    .about__container {
        display: block;
        text-align: center;
    }

    .logos-container {
        grid-template-areas:  
        "one two"
        "three four"
        "five six";
    }

    .features_item {
        top: 430px;
    }

    .features__ouch {
        height: 90px;
    }

    .features__title {
        padding: 0;
    }

    .main__text {
        font-size: 15px;
        margin: 0;
    }

    .button-1 {
        margin-left: 90px;
    }

    .logos-container {
        margin: 0 auto;
    }

    .bg-orange {
        padding: 64px 0 40px;
    }

    .item__container {
        grid-template-columns: repeat(1, 4fr);
    }

    .logo_img {
        margin-right: 8px;
    }

    .after__link {
        margin-right: 30px;
    }

    .after__link::after {
        width: 200px;
    }

    .team_inbox-section {
        height: 1100px;
    }

    .team__img {
        width: 350px;
    }

    .team__comment-container {
        padding: 10px 10px 7px;
    }

    .team__comment-text {
        font-size: 15px;
    }

    .avatar-container {
        padding: 10px;
    }

    .button-1 {
        margin: 40px auto;
    }

    .text_audience {
        padding: 20px 90px;
    }

    .button__audience {
        margin-left: 8px;
    }

    .item {
        margin-left: 20px;
    }

    .item__container {
        gap: 15px;
        margin-left: -10px;
    }

    .section__gallery {
        padding: 0;
    }

    .title_gallery {
        width: 200px;
        font-size: 30px;
    }

    .p_gallery {
        width: 200px;
        font-size: 15px;
    }

    .gallery__item {
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
    }

    .title__inner {
        font-size: 40px;
    }

    .text__inner {
        font-size: 15px;
    }

    .button__about {
        margin-bottom: 60px;
    }

    .free-input {
        width: 100%;
        margin-right: 0;
    }

    .free-mini {
        font-size: 8px;
    }

    .after__line-ul {
        display: block;
    }

    .footer-end__flex {
        display: block;
        text-align: center;
    } 

    .about__container-2 {
        margin: 20px 20px 10px 0;
    }

    .footer__line {
        top: -150px;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 270px;
        margin: 0 auto;
    }

    .main__title {
        font-size: 30px;
        line-height: 40px;
    }

    .main__text {
        line-height: 15px;
    }

    .button-1 {
        margin: 20px auto;
        width: 100%;
    }

    .button__container > .button {
        margin-bottom: 10px;
    }

    .button__container > .button, .button-white {
        width: 100%;
    }

    span {
        font-size: 15px;
    }

    .about {
        font-size: 15px;
        line-height: 18px;
    }

    .logos-container {
        display: grid;
        grid-template-areas:  
        "one two"
        "three four"
        "five six";
        gap: 5px;
    }

    .logos-container > img {
        width: 100%;
        height: 100%;
    }

    .logos-container > img:nth-child(1) {
        grid-area: one;
    }

    .logos-container > img:nth-child(2) {
        grid-area: one;
    }

    .logos-container > img:nth-child(3) {
        grid-area: one;
    }

    .logos-container > img:nth-child(4) {
        grid-area: one;
    }

    .logos-container > img:nth-child(5) {
        grid-area: one;
    }

    .logos-container > img:nth-child(6) {
        grid-area: one;
    }
    
    .features__title {
        font-size: 30px;
        line-height: 30px;
    }

    .features_text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .features_item {
        top: 267px;
    }

    .link_f {
        font-size: 17px;
        line-height: 15px;
    }

    .after__link {
        font-size: 15px;
        line-height: 15px;
    }

    .icon__bold {
        font-size: 16px;
    }

    .team_inbox-section {
        height: 950px;
    }

    .team__img {
        width: 278px;
    }

    .title__inner {
        font-size: 30px;
        line-height: 35px;
    }

    .text__inner {
        font-size: 15px;
        line-height: 30px;
    }

    .team__comment-container {
        margin-left: 15px;
        min-width: 200px;
    }

    .team__comment-text {
        font-size: 12px;
        line-height: 20px;
    }

    .comment__name {
        font-size: 11px;
    }

    .text_audience {
        font-size: 17px;
        padding: 10px 70px;
    }

    .button__2 {
        margin-bottom: 34px;
    }

    .audience__img {
        width: 100px;
    }

    .text_item {
        font-size: 10px;
        margin: 0 auto;
    }

    .section_audience {
        height: 950px;
    }

    .section__gallery {
        padding: 0;
    }

    .gallery__item {
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
    }

    .features__ouch {
        height: 65px;
    }

    .item__container {
        grid-template-columns: repeat(1, 4fr);
        gap: 20px;
        align-items: center;
        margin-left: 0;
        margin-top: 64px;
    }

    .free-input {
        width: 330px;
    }

    .info__p {
        font-size: 14px;
    }

    .info__link {
        font-size: 15px;
    }

    .about__items {
        padding: 2px;
    }

    .about__icon {
        padding: 10px;
    }

    .active {
        padding: 0;
    }

    .about__position {
        font-size: 12px;
        line-height: 17px;
    }

    .mini-about__position {
        font-size: 11px;
        padding: 12px 6px 0 0;
        line-height: 14px;
    }

    .about__items > p {
        font-size: 12px;
    }

    .free-input {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 220px;
        margin: 0 auto;
    }

    .button__container {
        padding-left: 0;
        text-align: center;
    }

    .features__ouch {
        height: 50px;
    }

    span {
        font-size: 10px;
    }

    .team__img {
        width: 234px;
    }

    .info__p {
        font-size: 12px;
    }

    .info__link {
        font-size: 15px;
    }

    .text_audience {
        padding: 10px 40px;
    }

    .item {
        padding: 0;
        margin-left: 15px;
    }

    .free-input {
        margin-right: 0;
        width: 100%;
    }

    .carousel-title {
        font-size: 19px;
        line-height: 24px;
    }

    .carousel-text {
        font-size: 15px;
        line-height: 24px;
    }

    .carousel_item {
        top: 380px;
    }

    .animation-img {
        width: 200px;
    }

    .footer__text-regular {
        padding: 20px 0 30px 0;
    } 
}